<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CountString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92EFF1481D736D0C006046EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92EFF1611D736D0D006046EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92EFF16C1D736D0D006046EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
